/* stylelint-disable font-family-no-missing-generic-family-keyword */

@font-face {
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: 'checkbox';
    src: url('./checkbox/iconfont.woff2') format('woff2'),
        url('./checkbox/iconfont.woff') format('woff'),
        url('./checkbox/iconfont.ttf') format('truetype');
}

.checkbox {
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: 'checkbox' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
}

.checkbox::after {
    content: "\e65d";
}
