page { 
  --color-primary: #409eff; 
  --color-secondary: #6ABFFF;

  --color-info: #909399;
  --color-error: #FB5A5A;
  --color-warning: #ffb800;
  --color-success: #67c23a;
  --color-stop: #D9D9D9;

  --color-text-primary: #333;
  --color-text-regular: #666;
  --color-text-secondary: #999;

  --border-color-light: rgba(144, 147, 153, 0.1);
  --border-color-lighter: rgba(144, 147, 153, 0.3);
  
  --background-color-base: #F7F9FD;

  --gradient-primary-submit: linear-gradient(360deg, #409EFF 0%, rgba(64,158,255,0.8) 100%);

  --gradient-primary-card: linear-gradient(229deg, #409EFF 0%, rgba(64,158,255,0.7) 100%);
  --gradient-danger-card: linear-gradient(227deg, #FB5A5A 0%, rgba(251,90,90,0.7) 100%);
  --gradient-stop-card: linear-gradient(229deg, #D9D9D9 0%, rgba(217,217,217,0.7) 100%);
}